<template>
  <v-row no-gutters justify="center">
    <v-col cols="8">
      <v-row no-gutters class="ma-0" justify="center">
        <v-col v-for="(item, index) in menu" :key="index" cols="2" :class="classActive(item.page)" @click="routeTo(item.page)">
          <v-row no-gutters justify="center">
            <v-icon>{{ item.icon }}</v-icon>
          </v-row>
          <div class="text-center">{{ item.text }}</div>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'FooterLayour',
  data() {
    return {
      menu: [
        { icon: 'mdi-home', text: 'หน้าเเรก', page: '/home' },
        { icon: 'mdi-gift', text: 'โปรโมชัน', page: '/promotion' },
        { icon: 'mdi-account-plus-outline', text: 'สมัครสมาชิก', page: '/' },
        { icon: 'mdi-play', text: 'ทดลองเล่น', page: '/playing' },
        { icon: 'mdi-card-account-mail', text: 'ติดต่อเรา', page: '/contact' },
      ]
    }
  },
  methods: {
    classActive(page) {
      return page === this.$route.path ? 'acive-bg corsor-pointer' : 'corsor-pointer'
    },
    routeTo(page) {
      this.$router.push(page)
    }
  },
}
</script>

<style lang="scss" scoped>
.acive-bg {
  background-color: red;
}
.corsor-pointer {
  cursor: pointer;
}
</style>