<template>
  <div>
    <!-- logo center -->
    <div class="logo">
      <v-row no-gutters justify="center">
        <img src="@/assets/logo2.png" height="100" width="auto" />
      </v-row>
    </div>
    <!-- content top header -->
    <v-row no-gutters class="top-header">
      <v-col cols="6">
          <img src="@/assets/logo.png" height="50" width="auto" />
      </v-col>
      <v-col cols="6">
        <v-row no-gutters justify="end" class="mt-2">
          <div class="input-field mr-2">
            <v-text-field placeholder="username" background-color="white" outlined dense hide-details width="40"></v-text-field>
          </div>
          <div class="input-field mr-2">
            <v-text-field placeholder="password" background-color="white" outlined dense hide-details width="40"></v-text-field>
          </div>
          <v-btn color="red" class="mr-2">เข้าสู่ระบบ</v-btn>
        </v-row>
      </v-col>
    </v-row>
    <!-- content button header -->
    <v-row no-gutters class="button-header" align="center">
      <v-col cols="6" height="100%">
        <v-row no-gutters justify="end"  class="menu-header-left">
          <span v-for="(item, index) in menuLeft" :key="index" class="pr-10">{{ item }}</span>
        </v-row>
      </v-col>
      <v-col cols="6">
        <v-row no-gutters class="menu-header-right">
          <span v-for="(item, index) in menuRight" :key="index" class="pr-10">{{ item }}</span>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
name: 'HeaderComponent',
data() {
  return {
    menuLeft: ['หน้าเเรก', 'โปรโมชัน', 'ราคาพิเศษ'],
    menuRight: ['เเนะนำเพื่อน', 'รีวิวจากลูกค้า', 'ติดต่อเรา']
  }
},
}
</script>

<style lang="scss" scoped>
.top-header {
  height: 50px;
  width: 90%;
  margin-left: 4%;
}
.button-header {
  height: 40px;
  background-color: black;
}
.menu-header-left {
  color: white;
  padding-right: 100px;
}
.menu-header-right {
  color: white;
  padding-left: 100px;
}
.input-field {
  width: 100px;
}
.logo {
  position: absolute;
  top: 0;
  width: 100%;
}
</style>