<template>
  <v-row no-gutters>
    <v-col cols="6">
      <v-row no-gutters justify="center">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/watch?v=WleNnd42Boc"></iframe>
      </v-row>
    </v-col>
    <v-col cols="6">
      <v-row no-gutters justify="center" class="red--text text-h6">ยินดีต้อนรับเข้าสู่เว็บไซต์ Slotgame6666</v-row>
      <v-row no-gutters class="pr-10">
        <span><span class="red--text"> เกมส์สล็อตออนไลน์</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis ipsum ac consequat cursus. In hac habitasse platea dictumst.
          Nunc luctus varius tellus, volutpat euismod mi vestibulum et. Suspendisse potenti. Nunc sed urna ullamcorper, gravida leo vel, porttitor elit. Integer feugiat a leo a rhoncus. 
          Etiam rutrum nulla ac arcu varius egestas. Sed venenatis erat vel augue volutpat dictum. Nam lobortis, ante quis iaculis gravida, dolor mi convallis justo, ac luctus ligula mi at diam.
          Morbi pellentesque elementum est et finibus. Vivamus vel velit nulla. Aenean dictum nec elit id vestibulum. Phasellus a scelerisque nulla. Nulla eget massa nibh. Sed sed convallis dolor. 
          Sed ornare enim sit amet vestibulum finibus. Aenean dapibus purus et elit laoreet iaculis. Ut feugiat ex vel ante accumsan scelerisque. Phasellus non lacinia nisi. 
          Phasellus tempus neque lectus, sed euismod urna varius cursus. Etiam laoreet ligula nec lacus sollicitudin dignissim. Proin non fringilla turpis, sed ornare lacus.</span>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
}
</script>
