<template>
  <v-app>
    <v-app-bar fixed app height="90">
      <div class="header">
        <Header />
      </div>
    </v-app-bar>
    <div class="content">
      <nuxt />
    </div>
    <v-footer fixed app class="footer pa-0">
      <Footer />
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
}
</script>
<style lang="scss" scoped>
.header {
  height: 90px;
  width: calc(100vw - 12px);
  position: fixed;
  background-color: rgb(67, 14, 10);
}
.content {
  height: calc(100% - 140px);
  width: calc(100vw - 12px);
  margin-top: 90px;
  margin-bottom: 40px;
  background-color: rgb(204, 204, 204);
}
.footer {
  background-color: #A8A8A8;
  height: 50px;
  width: calc(100vw - 12px);
  position: fixed;
}
</style>
<style>
.v-toolbar__content {
 padding: 0px !important;
}
</style>