<template>
  <div>
    <img src="@/assets/banner.jpg" height="auto" width="100%" />
    <div class="content">
      <WelcomePanel />
      <img src="@/assets/banner2.jpg" height="auto" width="100%" />
      <ContentFirst class="mt-2" />
      <ContentSecond class="mt-2" />
      <ContentThird class="mt-2" />
      <ContentSponsor class="mt-2 mb-2" />
    </div>
    <div class="detail">
      <ContentDetail class="mt-2 pa-5" />
    </div>
  </div>
</template>

<script>
export default {
  name: "HomePage",
}
</script>

<style lang="scss" scoped>
.content {
  width: 90vw;
  margin-left: 5%;
  background-color: whitesmoke;
  border-radius: 10px;
}
.detail {
  width: 90vw;
  margin-left: 5%;
}
</style>