<template>
  <v-row no-gutters>
    <v-col cols="8">
      <v-row no-gutters>
        <v-col v-for="item in 8" :key="item" cols="3">
          <img src="@/assets/1.jpg" height="99%" width="99%" />
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="4">
      <img src="@/assets/1.jpg" height="99%" width="99%" />
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'FirstLayout'

}
</script>