<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-row no-gutters>
        <v-col v-for="item in 6" :key="item" cols="2">
          <img src="@/assets/sponsor1.png" height="auto" width="80%" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ThirdLayout'

}
</script>

<style>

</style>