<template>
  <v-row no-gutters>
    <v-col cols="12">
      <v-row no-gutters>
        <v-col v-for="item in 12" :key="item" cols="2">
          <img src="@/assets/1.jpg" height="99%" width="99%" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ThirdLayout'

}
</script>

<style>

</style>